<div class="col-md-12">
  <%= form_with(url: "/landlords", method: "get", local: true, html: { class: "form-inline" }) do %>
    <div class="form-group">
      <input type="text" class="form-control" name="search" placeholder="Search Landlord Name">
    </div>
    <%= submit_tag("Search", class: "btn btn-primary ml-2") %>
  <% end %>
</div>
