<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Support Request</h1>
    <p>
      <strong>Name:</strong>
      <%= @support_request.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @support_request.email %>
    </p>
    <p>
      <strong>Message:</strong>
      <%= @support_request.message %>
    </p>
  </body>
</html>
