<div class="container mt-5">
        <h1 class="text-center cool-heading">Need Help or Want to Offer Feedback?</h1>
        <hr>
        <h2 class="text-center">Email to: <a href="mailto:mylandlordratings@gmail.com">mylandlordratings@gmail.com</a></h2>
    </div>
