<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center cool-heading">Frequently Asked Questions</h1>
            <hr>
            <h2>What is My Landlord Ratings?</h2>
            <p>My Landlord Ratings is a platform that allows tenants to rate and review their landlords based on their experiences living in their rental properties.</p>
            
            <h2>How do I use My Landlord Ratings?</h2>
            <p>To use My Landlord Ratings, You can search for your landlord or rental property and leave a rating and review based on your experience. If Landlord record is not avaliable, You can sign up or sign in and create one. </p>
            
            <h2>Can anyone leave a review on My Landlord Ratings?</h2>
            <p>Yes, anyone who has rented from a landlord can leave a review on My Landlord Ratings. However, we do require that reviewers provide some basic information to verify that they are a real tenant.</p>
            
            
            <h2>Can landlords remove negative reviews from My Landlord Ratings?</h2>
            <p>No, landlords cannot remove negative reviews from My Landlord Ratings. However, they can respond to reviews and address any issues that tenants have raised.</p>
            
            <h2>How can I trust the reviews on My Landlord Ratings?</h2>
            <p>We take the integrity of our reviews very seriously and have measures in place to prevent fraudulent or fake reviews. Additionally, we encourage tenants to leave honest and accurate reviews to help other renters make informed decisions.</p>
            
            <h2>Can landlords respond to reviews on My Landlord Ratings?</h2>
            <p>Yes, landlords can respond to reviews on My Landlord Ratings. This allows them to address any issues that tenants have raised and provide their perspective on the situation.</p>
            
            <h2>Is My Landlord Ratings free to use?</h2>
            <p>Yes, My Landlord Ratings is free to use for all.</p>
            
            <h2>Can I use My Landlord Ratings to find a new rental property?</h2>
            <p>No, My Landlord Ratings is not a rental listing platform. However, you can use the app to research potential landlords before signing a lease agreement.</p>
            
            <hr>
            
            <h1 class="text-center cool-heading">Need Help or Want to Offer Feedback?</h1>
            <hr>
            <h2 class="text-center">Email to: <a href="mailto:mylandlordratings@gmail.com">mylandlordratings@gmail.com</a></h2>
        </div>
    </div>
</div>
