<div class="container min-vh-50 d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <form action="/user_verify_credentials" method="post">
        <div class="mb-4">
          <label for="email_box" class="form-label">Email</label>
          <input id="email_box" name="query_email" class="form-control" placeholder="Enter your email..." type="text">
        </div>
        <div class="mb-4">
          <label for="password_box" class="form-label">Password</label>
          <input id="password_box" name="query_password" class="form-control" placeholder="Enter your password..." type="password">
        </div>
        <div class="container min-vh-50 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>


<hr>

<footer>
   <div class="mt-2 col-md-6 mx-auto">
  <p>
    Or, <%= link_to "Sign up", "/user_sign_up", class: "btn btn-primary" %>
    <%= raw('&nbsp;&nbsp;') %>
  </p>
</div>
</footer>

<style>
  .border {
    border-style: solid;
    border-color: gray;
    width: 350px;
  }
  .mb-4 {
    padding-top: 20px;
    margin: 20px;
  }
</style>
