<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="/insert_user" method="post">

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="mb-2 col-md-6 mx-auto">
          <label for="email_box" class="form-label">Email</label>
          <input id="email_box" name="query_email" placeholder="Choose a email..." type="text" class="form-control form-control-sm" aria-describedby="emailHelp">
        </div>

        <div class="mb-2 col-md-6 mx-auto">
          <label for="name_box" class="form-label">Name</label>
          <input type="text" id="name_box" name="query_name" placeholder="Enter Name..." class="form-control form-control-sm">
        </div>

        <div class="mb-2 col-md-6 mx-auto">
          <label for="password_box" class="form-label">Password</label>
          <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="form-control form-control-sm">
        </div>

        <div class="mb-2 col-md-6 mx-auto">
          <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
          <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="form-control form-control-sm">
        </div>

        <div class="container min-vh-50 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary"> Sign up</button>
        </div>

      </form>
    </div>
  </div>
</div>


  


  <footer>
   <div class="mt-2 col-md-6 mx-auto">
  <p>
    or,<%= link_to "Sign in", "/user_sign_in", class: "btn btn-primary" %>
    <%= raw('&nbsp;&nbsp;') %>
  </p>
</div>

  </footer>
</div>
